
#id001 {border: 5px solid black;
min-height:360;
max-height:360;}

div.search-panel {
	background-color: grey;
	color:white;
	border-style: solid;
  	border-width: medium;
 	border-color: black;
}

.results {
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: black;
}

.res-box {
	border-style: solid;
	border-width: 4px;
	border-color: lightgrey;
	color:azure;
	width: 300px;
	height: 400px;
	background-color: grey;
	display: inline-table;
	padding: 10px;
    	margin: 8px;

}

.res-pic 
{
	border-radius: 50%;
	display: block;
	width:100%;
	border-color: blue;
	height:auto;
}

.bg-black {
background-color:black;
color:white;
}

.teach-name{
	font-size:5vw;
}

.teach-city{
	font-size:4vw;
}

.teach-addr{
	font-size:3vw;
}

.teach-sub{
	font-size:3vw;
}

.teach-sta{
	font-size:3vw;
}

.teach-rat{
	font-size:3vw;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	height: 100%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close-btn {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
  
  .modal-header {
	padding: 2px 16px;
	background-color: steelblue;
	color:black;
  }
  
  .modal-body {padding: 2px 16px;
	background-color: black;
	height: 100%;
	}
	.modal-iframe{
		width:80%;
		height: 100%;
		margin: auto;
		display: block;
	}
  
  .modal-footer {
	padding: 2px 16px;
	background-color:steelblue;
	color:black;
  }